################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OneDriveAccess/.vs
/OneDriveAccess/OneDriveAccess/bin/
/OneDriveAccess/OneDriveAccess/obj/
/OneDriveAccess/OneDriveApp/bin/
/OneDriveAccess/OneDriveApp/obj/
